
<!-- Ventana Modal Editar -->
<div class="container-fluid"  >
    <div class="modal-dialog" data-backdrop="static">
        <div class="modal-content">
            <form [formGroup]="mpeliculaForm" (ngSubmit)="modifPeliData(mpeliculaForm.value)">
                <div class="modal-header">
                    <h4 class="modal-title">Editar Película</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        (click)="getNavegacion('', '')">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Título</label>
                        <input type="text" class="form-control" placeholder="Título" formControlName="titulo" required>
                        <div class="alert-danger"
                            *ngIf="!mpeliculaForm.controls['titulo'].valid && (mpeliculaForm.controls['titulo'].touched)">
                            <div [hidden]="!mpeliculaForm.controls['titulo'].errors.required">
                                Inserte el título ya que es necesario.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Director</label>
                        <input type="text" class="form-control" placeholder="Director" formControlName="director" required>
                        <div class="alert-danger" 
                        *ngIf="!mpeliculaForm.controls['director'].valid && (mpeliculaForm.controls['director'].touched)">
                            <div [hidden]="!mpeliculaForm.controls['director'].errors.required">
                                Inserte director ya que es necesario.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Año de Estreno</label>
                        <input type="number" class="form-control" placeholder="Año de Estreno" formControlName="estreno" required>
                        <div class="alert-danger"
                            *ngIf="!mpeliculaForm.controls['estreno'].valid && (mpeliculaForm.controls['estreno'].touched)">
                            <div [hidden]="!mpeliculaForm.controls['estreno'].errors.required">
                                Inserte año de estreno ya que es necesario.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar" (click)="getNavegacion('', '')">
                    <input type="submit" class="btn btn-info" onclick="$('.modal').modal('hide')" value="Guardar">
                </div>
            </form>
        </div>
    </div>
</div>